@font-face {
    font-family: 'roboto';
    src: url(./Roboto-Regular.ttf);
}

:root {
    --custom-bg-color: rgb(200, 230, 230);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex: 2;
    font-size: 2.5rem;
    display: flex;
    background-color: var(--custom-bg-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 2px solid black;
}

header img {
    border: 2px solid black;
    background-color: white;
    border-radius: 50%;
    height: 3rem;
}

main {
    flex: 20;
    display: grid;
    grid-template-columns: minmax(250px, 400px);
    grid-auto-rows: min-content;
    gap: 1.5rem;
    padding: 2rem;
    overflow-y: scroll;
    justify-content: center;
}

main .card {
    background-color: var(--custom-bg-color);
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template: 2.5rem 2.5rem min-content / 3fr 1fr;
    border: 2px solid black;
}

main .card .title,
main .card .author {
    grid-column: span 2;
    font-size: 1.2rem;
    margin: .5rem 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

main .card .title::before {
    content: 'Title: ';
    font-weight: 600;
}

main .card .author::before {
    content: 'Author: ';
    font-weight: 600;
}

main .card .checkbox-wrapper {
    align-self: center;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    gap: 1rem;
}

main .card button {
    justify-self: right;
    background-color: var(--custom-bg-color);
    border: none;
    align-self: center;
}

main .card button img {
    height: 2rem;
}

footer {
    flex: 1;
    background-color: var(--custom-bg-color);
    display: grid;
    place-items: center;
    border-top: 2px solid black;
}